<!-- Wrap all page content here -->
<div id="wrap" class="">
   <div header></div>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
             <h1 class="">Assess your Software Product Management Maturity</h1>

        </div>
        <p class="">Welcome to the web-based version of the Maturity Matrix questionnaire
            for Software Product Management. In just 10 minutes, the website will provide you with:</p>
        <ul class="">
            <li class="">A personalized report of the current SPM maturity of your organization.</li>
            <li class="">A comparison of your current maturity as compared to other organizations,
                thanks to our updated benchmark.</li>
                <!--<li class="">Advice on how to incrementally improve your SPM practice.</li>-->
                </ul>
                <p class="">Please read the instructions for more background information. This website
                    accompanies our publication [1]. If you report results of this study
                    or benchmark, we kindly request that you cite our publication [1].</p>
                <p class="">For questions or comments contact <a href="mailto:sparckix@gmail.com?subject=Question SPM Maturity Matrix website&amp;cc=s.brinkkemper@uu.nl" class="">Daniel (website admin)</a>.

                </p>
    </div>

</div>
